package ${package}.${servicename}.service.impl;

import ${package}.${servicename}.api.dto.request.*;
import ${package}.${servicename}.api.dto.response.*;
import ${package}.${servicename}.api.vo.${className}Vo;
import ${package}.${servicename}.service.I${className}Service;
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import java.util.ArrayList;
import java.util.Date;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

/**
 * ${comments}
 */
@Service
public class ${className}ServiceImpl implements I${className}Service {
    private static final Logger LOG = LoggerFactory.getLogger(${className}ServiceImpl.class);
    @Override
    public Select${className}ListResponse select${className}List(Select${className}ListRequest request) {
        Select${className}ListResponse response = new Select${className}ListResponse();

        // todo 自己实现mapper接口

        return response;
    }

    @Override
    public Get${className}Response get${className}(Get${className}Request request) {
        Get${className}Response response = new Get${className}Response();

        // todo 自己实现mapper接口

        return response;
    }

    @Override
    public Boolean delete${className}(Delete${className}Request request) {

        // todo 自己实现mapper接口

        return false;
    }

    @Override
    public Boolean update${className}(Update${className}Request request) {
        // todo 自己实现mapper接口

        return false;
    }

    @Override
    public Boolean create${className}(Create${className}Request request) {
        // todo 自己实现mapper接口

        return false;
    }

}
