package ${package}.${servicename}.api.dto.request;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
 * 获取${comments}列表
 */
@Data
@ApiModel(description= "获取${comments}列表")
public class Select${className}ListRequest implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.attrname != "isDeleted")
	/**
	 * $column.comments
	 */
    @ApiModelProperty(value = "$column.comments")
	private $column.attrType $column.attrname;
#end
#end

    @ApiModelProperty(value="页码")
    private int pageNum;

    @ApiModelProperty(value="页容量")
    private int pageSize;
}
